<div class="content-block dx-card responsive-paddings">

  <div style="display: inline-flex;width: 100%;">
    <h2 style="margin-left: 0;" class="content-block">vendedores</h2>
    <dx-button style="margin: auto;margin-right:0;" text="Nuevo" icon="add" type="danger" (onClick)="modalNuevo()">
    </dx-button>
  </div>


  <dx-data-grid class="dx-card wide-card" [dataSource]="vendedores" [showBorders]="false" [columnAutoWidth]="true"
    [columnHidingEnabled]="true">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column dataField="id" caption="Id"  dataType="number">
    </dxi-column>
    <dxi-column dataField="nombre" caption="Nombre" >
    </dxi-column>
    <dxi-column dataField="apellido" caption="Apellido" >
    </dxi-column>
    <dxi-column dataField="cedula" caption="Cedula"  dataType="number">
    </dxi-column>

  </dx-data-grid>


  <!-- Modal Nuevo Vendedor -->
  <dx-popup [width]="600" [height]="450" [showTitle]="true" title="Nuevo Vendedor" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupNuevoVisible">
    <dx-scroll-view #scrollView id="scrollview" scrollByContent=true showScrollbar="true">
      <div>
        <form id="formVendedor" (submit)="logSubmit($event)">
          <dx-form [colCount]="2" [(formData)]="vendedor" labelLocation="top">

            <dxi-item editorType="dxTextBox" dataField="nombre" [label]="{text:'Nombre'}" message="Nombre es requerido"
              type="required"></dxi-item>

            <dxi-item dataField="apellido" message="Apellido es requerido">
              <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="cedula" editorType="dxNumberBox" message="Cedula es requerida" type="required">
            </dxi-item>

            <!-- Botones fromulario-->

            <dxi-item text="Crear" icon="check" itemType="button" verticalAlignment="bottom"
              [buttonOptions]="{stylingMode: 'contained', icon:'check', text: 'Registrar', type: 'success', useSubmitBehavior: true}">
            </dxi-item>

          </dx-form>
        </form>
      </div>
    </dx-scroll-view>

  </dx-popup>

</div>
